@model MVC_Practical_11_Partial_View.Models.User

@{
    ViewBag.Title = "Create";
}

<div class="my-5" style="width:50%;">
    @using (Html.BeginForm())
    {
        @Html.AntiForgeryToken()

        <div class="form-horizontal">
            @Html.Partial("_Create",Model)
        </div>
    }

    <div>
        @Html.ActionLink("Back to List", "Index", String.Empty, new { @class = "btn btn-warning mt-3" })
    </div>
</div>



@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
}
